/* ANJARA HEADER */
@keyframes border_show{
    0%{
        opacity: 0;
    }
    100%{
        opacity:0.8;
    }
}
@keyframes ring{
    0%{
        transform: scale(1,1);
    }
    50%{
        transform: scale(1.3,1.3);
    }
    80%{
        transform: scale(0.8,0.8);
    }
    100%{
        transform: scale(1,1);
    }
}

body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width:100%;
}
header{
    display:flex;
    padding: 0px 50px;
    justify-content: space-between;
    align-items: center;
    position:relative;
    position: sticky;
    top:0px;
    z-index: 10;
}
header::before{
    content:"";
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height: 100%;
    background-color: rgb(240,240,240,0.95);
    filter: blur(2px);
}
#logo img{
    width:100%;
    opacity: 0.9;
}
nav{
    display: flex;
}
#menu{
    display: flex;
    margin-right: 15px;
}
#menu a{
    padding: 0px 15px;
    text-decoration: none;
    color:rgb(30, 30, 70);
    position:relative;
}
#menu a::after{
    content: "";
    position:absolute;
    border-bottom-right-radius: 4px;
    right:0px;
    bottom:0px;
    opacity: 0;
    width: 15px;
    height: 15px;
    border-bottom: 2px solid rgba(25, 25, 25, 1);
    border-right: 2px solid rgba(25, 25, 25, 1);
}
#menu a i{
    margin-left: 3px;
}
#menu a:not(.active):hover{
    cursor: pointer;
    text-shadow: 0px 0px 1px rgb(40, 40, 50);
}
#menu a:not(.active):not(:nth-child(6)):hover::after{
    animation: border_show 0.5s;
    animation-fill-mode: forwards;
}
#menu a:nth-child(6):hover i{
    animation: ring 1s infinite;
}
#menu .active{
    padding-bottom: 10px;
    color:rgb(175, 150, 100);
    border-bottom: 1px solid rgb(175, 150, 100);
    font-size: 1.15em;
    text-shadow: 0px 0px 5px;
}
#menu-icon{
    position:relative;
}
#menu-icon i{
    position:relative;
    color:rgb(60, 60, 70);
}
#menu-icon #cart-value{
    background-color:  rgba(60, 80, 145,0.75);
    color:white;
    padding:1px 3px;
    border-radius: 120px;
    font-size: 0.75em;
    text-shadow: 0px 0px 2px;
    position:relative;
    top:-10px;
    right: 12px;
}
#menu-icon:hover{
    cursor: pointer;
    text-shadow: 0px 0px 2px;
}
#hamburger-menu{
    width:50px;
    height:50px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-evenly;
    z-index:15;
    box-shadow: 0px 0px 5px black;
    display: none;
    align-self: baseline;
}
#hamburger-menu span{
    display: block;
    width:75%;
    background-color: black;
    height:15%;
}
#hamburger-menu:hover{
    cursor:pointer;
}

/* FIN ANJARA HEADER */

#section-1{
    background-color: rgba(0,0,0,0.2);
    padding: 100px 10px;
    position:relative;
}
#section-1::before{
    content:"";
    background-image: url(Image/Accueil/section-1-1.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width:100%;
    height:100%;
    z-index: -1;
    position:absolute;
    top:0px;
    left:0px;
}
#section-1-1{
    background-color: rgba(35, 50, 210, 0.75);
    color:white;
    width:50%;
    margin-left: auto;
    padding:75px 0px 75px 25px;
    text-shadow: 0px 0px 1px white;
}
#section-1-1 h3{
    font-size: 150%;
    line-height: 75%;
}
#section-1-1 p{
    margin-top: 25px;
    font-size: 0.9em;
}
#section-2{
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: 50px 75px;
}
#section-2 div{
    width:50%;
}
#section-2 .left img{
    width:100%;
}
#section-2 .right h1{
    color: rgb(50,80,120);
    margin-bottom: 50px;
}
#section-2 .right p{
    color:rgba(60, 60, 70,0.8);
    margin-bottom: 25px;
}
#section-2 .right p i{
    font-size: 100%;
}
#section-2 .right button{
    padding: 10px;
    border-radius: 15px;
    background-color: rgb(60,60,60);
    margin-top:10px;
    font-size:1.05em;
    color:white;
    border:none;
}
#section-2 .right button:hover{
    cursor: pointer;
    box-shadow: 2px 1px 3px black;
}
#section-3{
    background-color: rgba(35, 50, 150, 1);
    padding: 50px 0px 75px 0px;
}
#section-3-1{
    display: flex;
    align-items: last baseline;
    padding-left:75px;
}
#section-3 h1{
    color:white;
    text-align: center;
    font-size: 2.5em;
    margin:10px;
}
#section-3-1 div{
    width:50%;
}
#section-3-1 .left p{
    margin: 15px auto;
    color:rgba(180,180,180,1);
    font-size: 0.9em;
    line-height: 150%;
}
#section-3 .right img{
    width:60%;
    height: 50%;
    display: block;
    margin-left: auto;
}
#section-3 .left h2,#section-3 .left h3{
    color:white;
    font-size: 95%;
}
#section-3 .left button{
    background-color: rgb(160, 160, 160);
    color:white;
    padding:10px 25px;
    border:none;
    border-radius: 25px;
    font-size: 1.01em;
}
#section-3 .left button:hover{
    cursor: pointer;
}
#section-4{
    text-align: center;
}
#section-4 h1{
    color:rgb(175, 150, 100);
    font-size:2.25em;
}
#section-4 p{
    color:rgba(100,100,100,1);
    font-size: 0.95em;
    width:50%;
    word-spacing: 3px;
    line-height: 150%;
    margin: 25px auto;
}

/* ANJARA FOOTER */

footer{
    background-color: rgba(30, 50, 130, 1);
    color:white;
    padding: 10px 10px 25px;
    width:100%;
}
#footer-div-1{
    display:flex;
    align-items: baseline;
    overflow: hidden;
    justify-content: center;
}
#footer-div-1>div{
    width:25%;
    position:relative;
}
#footer-div-1>div:not(:last-child)::after{
    content: " ";
    position:absolute;
    top:0px;
    right: 0px;
    border-right: 1px solid white;
    width:100%;
    height:200px;
}
footer h1{
    font-size: 1.5em;
    text-align: center;
}
footer p{
    margin: 0px;
    padding: 0px;
}
footer ul{
    margin:0px;
    padding:0px;
    padding-left: 10%;
}
footer ul li{
    list-style-type: none;
    display: flex;
    align-items: cneter;
    font-size: 0.9em;
    margin-bottom: 5px;

}
footer i{
    margin-right:5px;
}
footer ul li img{
    width:8%;
}
#footer-div-1>div:last-child{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self:center;
}
footer #image-above{
    width:20%;
}
footer #image-above img{
    width:100%;
}
footer #image-below{
    display: flex;
    font-size: 1.5em;
    justify-content: center;
}
footer #image-below div{
    padding: 10px 7px 10px 15px;
    border-radius: 120px;
}
footer #facebook{
    background-color: rgb(50,80,150);
}
footer #linkdin{
    background-color: rgba(32, 184, 200,0.5);
    margin: 0px 5px;
}
footer #youtube{
    background-color: rgba(255,0,0,0.75);
}
footer hr{
    margin:15px 15px;
    opacity:0.5;
}
hr ~ p{
    margin:auto;
    width:fit-content;
    opacity:0.6;
    font-size: 0.85em;
}

/* ANJARA FOOTER */

/* RESPONSIVE */
@media screen and (max-width:1200px){
    /* HEADER */
    body{
        font-size: 0.75em;
    }
    #menu a{
        padding: 0px 10px;
    }
    /* HEADER FIN HEADER*/
}
@media screen and (max-width:950px ){
    /* HEADER */
    body{
        max-width: 949px;
        font-size: 0.75em;
    }
    #menu {
        flex-direction: column;
        gap: 7px;
        font-size:1.3em;
        /* border:1px solid rgba(50, 50, 50,0.75); */
        z-index: 5;
        position:absolute;
        right:35px;
        top:70px;
        background-color: rgba(240,240,240,0.9);
        transition:height 1s;
        height: 0px;
        overflow:hidden;
    }
    #menu .active{
        border:none;
        padding-bottom: 10px;
    }
    #menu-icon{
        font-size:1.5em;
        margin-right:25px;
        padding: 15px;
    }
    #hamburger-menu {
        display: flex;
    }

    /* FIN HEADER */

    #section-1-1{
        width:70%;
    }
    #section-2{
        align-items: center;
        margin: 50px 10px;
    }
    #section-3-1{
        padding-left: 15px;
        align-items: center;
        gap:5px;
    }
    #section-3 .right img{
        width:100%;
        height: 100%;
        display: block;
        margin-left: auto;
    }
    #section-4 p{
        width:75%;
    }

    /* FOOTER */
    #footer-div-1{
        flex-wrap: wrap;
    }
    #footer-div-1>div{
        width:30%;

    }
    #body>footer> #footer-div-1>div::after{
        border:none;
    }
    #footer-div-1>div:last-child{
        width:50%;
        margin: auto;
    }
    #body>footer #footer-div-1>div:nth-child(2):after{
        
        border-right: 1px solid white;
        border-left: 1px solid white;
        height:165px;
    }
    /* FIN FOOTER */
}
@media screen and (max-width:600px){
    /* HEADER */
    body{
        max-width: 560px;
        font-size: 0.75em;
    }
    header{
        padding: 0px 2px;
    }
    #menu {
        right:-15px;
    }
    /* FIN HEADER */
    #section-1-1{
        width:90%;
        margin: auto;
    }
    #section-2{
        flex-direction: column;
    }
    #section-2>div{
        width: 100%;
    }
    #section-3-1{
        flex-direction: column-reverse;
    }
    #section-3-1>div{
        width:90%;
    }
    #section-4 p{
        width:100%;
    }

    /* FOOTER */
    #body>#footer>#footer-div-1>div{
        width:49%;
    }
    #body>#footer>#footer-div-1>div::after{
        border:none;
    }
    #body>#footer>#footer-div-1>div:nth-child(even){
        border-left:1px solid white;
        padding-bottom: 20px;
    }
    /* FIN FOOTER */
}